{% extends 'base.html' %}
{% block content %}
    <p><span class="h1">Вход</span> <span class="h4 text-secondary fw-normal">Впервые здесь? <a
            href="{% url 'users:signup' %}">Регистрация</a></span></p>
    <div class="row text-left">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}

        <form method="post" class="pe-4" action="">
            {% csrf_token %}

            {% for field in form %}
                <label for="{{ field.id_for_label }}" class="col-lg-4 col-sm-12">
                    {{ field.label }}
                    {% if field.field.required %}
                        <span>*</span>
                    {% endif %}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help">
                        {{ field.help_text|safe }}
                    </small>
                {% endif %}
                <br>

            {% endfor %}

            <button type="submit" class="btn btn-outline-primary">Войти</button>
            <a class="float-end" href="{% url 'users:password_reset' %}">Забыли пароль?</a>
        </form>
    </div>
{% endblock %}
