{% extends 'base.html' %}

{% block title %}
    Информация о пользователе
{% endblock %}

{% block content %}
    <h1 class="username">{{ user.username }}</h1>
    {% if user.image %}
        <div class="avatar"><img src="/media/{{ user.get_image_200x200 }}"></div>
        <div class="user-info">
    {% else %}
        <div class="user-info">
        <h3 class="user-info">Аватар отсутствует</h3>
    {% endif %}
<h3 class="user-info">Имя: {{ user.first_name|default:"Не указано" }}</h3>
<h3 class="user-info">Фамилия: {{ user.last_name|default:"Не указано" }}</h3>
<h3 class="user-info">День рождения: {{ user.profile.birthday|default:"Не указано" }}</h3>
{% if current_user.id == user.id %}
    <h3><a href="{% url 'users:profile' %}">Редактировать</a></h3>
{% endif %}
</div>
{% if current_user.id == user.id %}
    <h2>Мои публикации <a href="{% url 'publications:create_publication' %}"
                          class="text-success fw-semibold">Создать</a></h2>
{% else %}
    <h2>Публикации пользователя {{ user.username }}</h2>
{% endif %}

<div class="infinite-container">
    {% for post in publications %}
        <div class="infinite-item">{% include "includes/publication.html" %}</div>
        {% empty %}
        <p>Вау, тут пусто...</p>
    {% endfor %}
</div>

<div class="d-flex justify-content-center" style="display: none;">
    <div class="loading spinner-border text-primary" role="status"></div>
</div>

{% if publications.has_next %}
    <a class="infinite-more-link" href="?page={{ publications.next_page_number }}">More</a>
{% endif %}
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        }
    });
</script>
{% endblock %}