{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %} Travel.Net {% endblock %} - Travel.Net</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/fav/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        {% if user.is_authenticated %}
            const USER_PROFILE_URL = "{% url 'users:user_detail' user_id=user.id %}";
            const USER_USERNAME = "{{ user.username }}";
            const UNLIKED_PNG_URL = "{% static 'img/other/unliked.png' %}";
            const LIKED_PNG_URL = "{% static 'img/other/liked.png' %}";
        {% endif %}
    </script>
    {% block head %}{% endblock %}
</head>
<body>
{% include "includes/navigation.html" %}
<main>
    {% block content %} Главная информация {% endblock %}
</main>
</body>
{% block scripts %}{% endblock %}

</html>