{% load thumbnail %}
{% load static %}

<form action="{% url 'publications:create_publication' %}" method="post" class="container-lg publication">
    {% csrf_token %}
    <div class="post-header">
        <div class="publication-avatar">
            {% if user.image %}
                {% thumbnail user.image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                         alt="{{ user }}'s profile picture">
                {% endthumbnail %}
            {% endif %}
        </div>
        <h4 class="username"><a href="{% url 'users:user_detail' user_id=user.id %}">{{ user.username }}</a></h4><br>
        <p class="text-muted">Еще не опубликовано!</p>
    </div>

    <div class="location">
        <img class="point" src="{% static 'img/other/point.png' %}">
        {{ form.location.errors }}
        {{ form.location.label_tag }}
        {{ form.location }}
    </div>
    <br>
    <div class="post-main">
        {{ form.text.errors }}
        {{ form.text.label_tag }}
        {{ form.text }}
    </div>

    <div class="post-footer row px-3">
        <div class="col-10 likes" id="likes">
            <img title="вы не можете лайкнуть пост, которого еще нет!" class="like-button-disabled"
                 src="{% static 'img/other/unliked.png' %}" width="25" alt="like/unlike button">
            <div><span class="like-count" id="like_count"
                       title="Кто знает, сколько лайков наберет этот пост..">???</span></div>
        </div>
        <input type="submit" value="Опубликовать!" class=" col-3 btn btn-success publish-button">

        <div class="comments">
            <p class="text-muted">наверняка кто-нибудь оставит комментарий как только ты опубликуешь это!..</p>
        </div>
    </div>
    {{form.media}}
</form>