
<aside>
    <h2> Меню </h2>
    <a href="{% url 'homepage:home' %}">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Главная
    </a>
    <a href="#">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Карта
    </a>
    <a href="{% url 'users:login' %}">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Войти
    </a>
    <a href="{% url 'about:faq' %}">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Помощь
    </a>
    <a href="{% url 'about:description' %}">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      О проекте
    </a>
    {% include "includes/footer.html" %}
</aside>