{% load thumbnail %}

<div class="container-lg">
    <div class="post-header">
        {% thumbnail post.author.image "50x50" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <span>{{ post.author }}</span>
        <p class="text-muted">Опубликованно {{ post.datetime_created }}</p>
    </div>

    <div class="post-main">
        <p class="">{{ post.text }}</p>
    </div>
    <div class="post-footer">
        Лайков: <span>{{ post.publicationlike_set.count }}</span>
    </div>
    {% if request.user.is_authorized or 1 %}
        {# TODO: maybe ajax? #}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Лайкнуть!">
        </form>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="comment">Ваш комментарий</label>
            <input name="comment" id="comment" type="text">
            <input type="submit" value="Лайкнуть!">
        </form>
    {% endif %}
    <div class="comments">
        {% for comment in post.comment_set.all %}
            <div class="comment">
                <h3>коммент от {{ comment.author }}</h3>
                <h4>Текст: {{ comment.text }}</h4>
            </div>
        {% empty %}
            <p>оп, еще никто не оставлял комментарии здесь..</p>
        {% endfor %}
    </div>
</div>


