{% load thumbnail %}
{% load static %}

<div class="container-lg publication">
    <div class="post-header">
        <div class="publication-avatar">
            {% if post.author.image %}
                {% thumbnail post.author.image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                         alt="{{ post.author }}'s profile picture">
                {% endthumbnail %}
            {% else %}
                {# TODO: standard user pfp #}
            {% endif %}
        </div>
        <h4 class="username"><a
                href="{% url 'users:user_detail' user_id=post.author.id %}">{{ post.author.username }}</a></h4><br>
        <p class="text-muted">Опубликованно {{ post.datetime_created }}</p>
    </div>

    <div class="location">
        {#        <img class="point" src="{% static 'img/other/point.png' %}">#}
        <a target="_blank" href="https://maps.yandex.ru/?text={{ post.location.1 }}+{{ post.location.0 }}">Открыть на
            Яндекс.Карты</a>
        <a href="{% url 'publications:detail_publication' pk=post.id %}" class="float-end">Посмотреть вложения ({{ post.attachment_set.count }})</a>
    </div>
    <br>

    <div class="post-main">
        <span value="{{ post.id }}" hidden></span>
        <p class="">{{ post.text }}</p>
    </div>

    <div class="post-footer">
        <div class="likes" id="likes">
            {% if user.id in post.publicationlike_set.users_liked_list %}
                <img class="like-button"
                     data-src-other="{% static 'img/other/unliked.png' %}"
                     data-is-liked="1"
                     data-id="{{ post.id }}"
                     src="{% static 'img/other/liked.png' %}"
                     width="25" alt="like/unlike button">
            {% else %}
                <img class="like-button"
                     data-src-other="{% static 'img/other/liked.png' %}"
                     data-is-liked="0"
                     data-id="{{ post.id }}"
                     src="{% static 'img/other/unliked.png' %}"
                     width="25" alt="like/unlike button">
            {% endif %}
            <div><span class="like-count" id="like_count">{{ post.publicationlike_set.count }}</span></div>
        </div>
        <div class="comments mb-2">
            <div id="comment-list">
                {% for comment in post.comment_set.order_by_like_count %}
                    <div class="comment">
                        <p style="font-style: italic">Комментарий от <a
                                href="{% url 'users:user_detail' user_id=comment.author.id %}">{{ comment.author.username }}</a>
                            {% if comment.responding_to %}
                                в ответ
                                <a href="{% url 'users:user_detail' user_id=comment.responding_to.author.id %}">{{ comment.responding_to.author.username }}</a>
                                "{{ comment.responding_to.text|truncatechars:10 }}"
                            {% endif %}
                            {# TODO: post deletion #}
                            {#                        <span class="float-end me-3">DEL</span>#}
                        </p>

                        <p class="comment-text">
                            <span>{{ comment.text }}</span>
                            <span class="float-end"><span>{{ comment.commentlike_set.count }}</span>
                                {% if user.id in comment.commentlike_set.users_liked_list %}
                                    <img class="comment-like-button"
                                         data-src-other="{% static 'img/other/unliked.png' %}"
                                         data-is-liked="1"
                                         data-id="{{ comment.id }}"
                                         src="{% static 'img/other/liked.png' %}"
                                         width="20" alt="like/unlike button">
                                {% else %}
                                    <img class="comment-like-button"
                                         data-src-other="{% static 'img/other/liked.png' %}"
                                         data-is-liked="0"
                                         data-id="{{ comment.id }}"
                                         src="{% static 'img/other/unliked.png' %}"
                                         width="20" alt="like/unlike button">
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    {% empty %}
                    <p id="no-comment-text" class="text-muted">оп, еще никто не оставлял комментарии здесь..</p>
                {% endfor %}
            </div>

            <form class="row px-3 justify-content-between me-1" id="comment-form" data-id="{{ post.id }}">
                <label style="font-style: italic" class="mb-2" for="comment-input">Ваш комментарий</label>
                <input id="comment-input" type="text" class="form-control me-4 w-auto flex-grow-1 float-start"
                       placeholder="вау вот это пост!!">
                <input type="submit" class="btn btn-secondary w-auto float-end" value="Отправить!">
            </form>
        </div>
    </div>

</div>
