{% extends "base.html" %}
{% block content %}

<body>
    <style type="text/css">
    #info {
        display: table;
        position: relative;
        margin: 0px auto;
        word-wrap: anywhere;
        white-space: pre-wrap;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #fff;
    }
    </style>
    <div id="map"></div>
    <pre id="info"></pre>
    {{ posts|json_script:"hello-data" }}
    <script>
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min;
    }

    function getRandomArbitrary(a, b) {
        let min = Math.min(a, b);
        let max = Math.max(a, b);
        return Math.random() * (max - min) + min;
    }

    const truncate_len = 50;
    const truncate = (input) => input.length > truncate_len ? `${input.substring(0, truncate_len)}...` : input;

    const latmod = (val) => val > 90 ? val % 90 - 90 : val;
    const lngmod = (val) => val > 180 ? val % 180 - 180 : val;

    let currentMarkers = [];




    const get_icon_size = () => getRandomInt(30, 100)

    const create_post_marker = (post) => {
        const el = document.createElement('div');
        el.className = 'marker';

        let icon_size = get_icon_size();

        el.style.backgroundImage = `url(https://placekitten.com/g/${icon_size}/${icon_size}/)`;
        icon_size += 'px';
        el.style.width = icon_size;
        el.style.height = icon_size;
        el.style.backgroundSize = '100%';

        // el.addEventListener('click', () => {
        //     window.open('./', '_blank');
        // });

        const popup = new mapboxgl.Popup({ offset: 25 })
            .setHTML(`
                                    <div class='popup_mapbox'>
                                        <h5>${truncate(post['text'])}</h5>
                                        <button type="button" class="btn btn-light" href="#">Перейти</button>
                                    </div>
                                `);
        // console.log(post)
        // Add markers to the map.
        let marker = new mapboxgl.Marker(el)
            .setLngLat([post.location.longitude, post.location.latitude])
            .setPopup(popup)
            .addTo(map);
        currentMarkers.push(marker);
    }

    mapboxgl.accessToken = '{{token}}';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 3,
        minZoom: 3,
        maxZoom: 14,
        center: [68, -49]
    });

    map.addControl(new mapboxgl.NavigationControl());



    const posts = JSON.parse(document.getElementById('hello-data').textContent);
    map.dragRotate.disable();
    map.touchZoomRotate.disableRotation();


    // Сейчас реализовано тестовое наполнение данными
    // TODO: запрос постов в определенных координатах, их отображение 
    map.on('moveend', () => {
        const bounds = map.getBounds()
        console.log(bounds, '-------------------------------------')

        for (var i = currentMarkers.length - 1; i >= 0; i--) {
            currentMarkers[i].remove();
        }
        for(let post of posts){
            create_post_marker(post);
        }

        // const average_icon_size = 150;

        // const polygon_width = Math.abs(bounds._ne.lng - bounds._sw.lng) / window.innerWidth * average_icon_size;
        // const polygon_height = Math.abs(bounds._ne.lat - bounds._sw.lat) / window.innerHeight * average_icon_size;

        // const post = {
        //     author: 1,
        //     datetime_created: "2022-05-20T19:53:47.836086Z",
        //     id: 1,
        //     location: { id: 1, longitude: '54.6842700', latitude: '20.4753900', country: 'Russia', city: 'Kaliningrad' },
        //     text: "fdghjkl;'ewrf;wf;lf;dslkfksdlfksdkflksdgfksldfklksdfksdf;lkdsk;fk;dskfl;sdkfkds;kfsdlkfkkglkgkggkgkgkgk",
        //     visible: true
        // };

        // const lng_start = bounds._sw.lng;
        // const lat_start = bounds._ne.lat

        // console.log(lng_start, lat_start, [polygon_width, polygon_height])

        // for (let w = 0; w <= Math.floor(window.innerWidth / average_icon_size); w++) {
        //     for (let h = 0; h <= Math.floor(window.innerHeight / average_icon_size); h++) {
        //         const lat1 = lat_start - h * polygon_height,
        //             lat2 = lat_start - (h + 1) * polygon_height;
        //         const lng1 = lng_start + w * polygon_width,
        //             lng2 = lng_start + (w + 1) * polygon_width;

        //         // console.log([lat1, lat2, lng1, lng2])

        //         const lat = getRandomArbitrary(latmod(lat1), latmod(lat2));
        //         const lng = getRandomArbitrary(lngmod(lng1), lngmod(lng2));

        //         post.location = { longitude: lng, latitude: lat };
        //         create_post_marker(post);
        //     }
        // }


        // console.log(bounds);
        // console.log(polygon_width, polygon_height);
    });

    map.on('mousemove', (e) => {
document.getElementById('info').innerHTML =
// `e.point` is the x, y coordinates of the `mousemove` event
// relative to the top-left corner of the map.
JSON.stringify(e.point) +
'<br />' +
// `e.lngLat` is the longitude, latitude geographical position of the event.
JSON.stringify(e.lngLat.wrap());
});
    </script>
</body>
{% endblock %}