{% extends "base.html" %}
{% block content %}

<body>
    <div id="map"></div>
    {{ posts|json_script:"hello-data" }}
    <script>
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min)) + min; 
    }

    const truncate_len = 50;
    const truncate = (input) => input.length > truncate_len ? `${input.substring(0, truncate_len)}...` : input;

    const get_icon_size = () => getRandomInt(30, 100)

    mapboxgl.accessToken = '{{token}}';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 3
    });

    map.addControl(new mapboxgl.NavigationControl());
    const posts = JSON.parse(document.getElementById('hello-data').textContent);
    for (const post of posts) {

        console.log(post)

        const el = document.createElement('div');
        el.className = 'marker';

        let icon_size = get_icon_size();

        el.style.backgroundImage = `url(https://placekitten.com/g/${icon_size}/${icon_size}/)`;
        icon_size += 'px';
        el.style.width = icon_size;
        el.style.height = icon_size;
        el.style.backgroundSize = '100%';

        // el.addEventListener('click', () => {
        //     window.open('./', '_blank');
        // });

        const popup = new mapboxgl.Popup({ offset: 25 })
            .setHTML(`
                                    <div class='popup_mapbox'>
                                        <h5>${truncate(post['text'])}</h5>
                                        <button type="button" class="btn btn-light" href="#">Перейти</button>
                                    </div>
                                `);

        // Add markers to the map.
        new mapboxgl.Marker(el)
            .setLngLat([post.location.longitude, post.location.latitude])
            .setPopup(popup)
            .addTo(map);
    }

    map.on('render', () => {
        const bounds = map.getBounds()
        console.log([bounds._ne.lng - bounds._sw.lng, bounds._ne.lat - bounds._sw.lat]);
    });
    </script>
</body>
{% endblock %}